[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twine = "*"
pandas = "*"
pandas-datareader = "*"
matplotlib = "*"
mpl-finance = "*"
mplfinance = "*"
quantuiti = {path = "./dist/Quantuiti-0.0.1-py3-none-any.whl"}

[dev-packages]

[requires]
python_version = "3.8"
