[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twine = "*"
pandas = "*"
pandas-datareader = "*"
matplotlib = "*"
mpl-finance = "*"
mplfinance = "*"

[dev-packages]

[requires]
python_version = "3.8"
